*{
    box-sizing: border-box;
}

body{
    background-color: #F3F3F3;
}

.top{
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 16px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.05);
}

.top img{
    width: 75px;
    height: 53px;
}

.messages{
    margin-top: 106px;
    margin-bottom: 106px;
    width: 100%;
    border-radius: 2px;
}

.messages div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    height: 100%;
    margin-top: 4px;
    word-break: break-word;
}

.noScroll{
  overflow: hidden;
}

.messages p{
    margin: 13px 0 8px 13px;
}

.messages span{
    font-weight: 700;
}

.messages p span:nth-child(1){
    color: #AAAAAA;
    font-weight: 400;
}

.public{
    background-color: #FFFFFF;
}

.newUser{
    background-color: #DCDCDC;
}

.private{
    background-color: #FCDDDE;
}

.bottom{
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    padding: 16px 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05)
}

.bottom input{
    border-style: hidden;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.blur{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 3;
}


.blur > div:first-child{
    width: calc(100vw - 80%);
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.blur > div:last-child{
    background-color: #FFFFFF;
    width: 80%;
    height: 100%;
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    z-index: 4;
}

.blur > div:last-child > div{
    height: 100%;
}

.section-selection{
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    padding: 0 20px;
}

.users{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding: 0 20px;
}

.visibility{
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: 200px;
    padding: 0 20px;
}

.users div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.visibility div{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.blur > div:last-child ion-icon{
    font-size: 25px;
    margin-right: 10px;
}

.marked{
    background-color: lightpink;
}

.enterPage{
    background-color:#FFFFFF;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enterPage img{
    height: 92px;
    margin-bottom: 80px;
}

.enterPage button{
    height: 45px;
    width: 109px;
    background-color: #E7E7E7;
    font-size: 18px;
    color: #696969;
    border-style: none;
    border-radius: 9px;
}

.enterPage button:hover{
    background-color: #696969;
    color: #E7E7E7;
}

.enterPage input{
    border: 1px solid #D7D7D7;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    font-style: italic; 
    height: 54px;
    width: 260px;
    text-align: center;
    margin: 15px 0;
    border-radius: 4px;
}

.hidden{
    display: none;
    }